<?xml version="1.0" encoding="utf-8" ?>
<Options xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" TestRunTimeLimit="3" >
	<Applications>
		<!-- Win -->
		<Application
			Name="E372Win"
			FileName="[ConfigPath]\..\E372.Win\Bin\EasyTest\E372.Win.exe"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WinAdapter.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"
			CommunicationPort="4100"/>
		<!-- Web -->
		<Application
			Name="E372Web"
			Url="http://localhost:4030"
			PhysicalPath="[ConfigPath]\..\E372.Web"
			AdapterAssemblyName="DevExpress.ExpressApp.EasyTest.WebAdapter.v12.2, Version=12.2.4.0, Culture=neutral, PublicKeyToken=b88d1754d700e49a"/>
	</Applications>
	<TestDatabases>
		<Database xsi:type="TestMSSQLDatabase" Server="(local)" Name="E372" DBName="E372_EasyTest" />
	</TestDatabases>
</Options>